@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --font-color: #000;
  --b-color: #fff;
  --link-color: #4169e1;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[href*="//"] {
  text-decoration: dotted underline;
}
a[href*="//"]:hover {
  text-decoration: underline;
}
a[href^="https://u.juten10x.net/"],
a[href^="https://juten10x.net/"],
a.mya[href^="https://u.juten10x.net/"] {
  text-decoration: none;
}
a.mya {
  color: #000; 
  transition: all .3s ease-in-out;
  text-decoration: none;
}
a.mya:hover {
  color: var(--link-color);
}
img {
  border-radius: .3rem;
}
details {
  margin-bottom: 16px;
}
summary {
  cursor: pointer;
}
code {
  font-family: 'Inconsolata', 'Noto Sans JP';
  font-weight: 500;
  line-height: 1.4;
  border: solid #d3d3d3 1px;
  border-radius: .3rem;
}
hr {
  border: none;
  border-top: 1px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 0;
}

hr::after {
  background: #fff;
  content: "§";
  font-size: 14px;
  padding: 0 4px;
  position: relative;
  top: -16px;
}
button.hoge {
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #EEE;
  border-radius: 0.7rem;
}
#menu_t {
  font-size: 24px;
  font-weight: 600;
}
#menu_m {
  margin-top: 48px;
  font-size: 20px;
  font-weight: 500;
}
#article_title {
  line-height: 1.0;
  letter-spacing: 0.01rem;
}
#article_date {
  font-size: 16px;
  font-weight: 200;
}
#my-footer {
  height: 2px;
  width: 100%;
  margin: 12px 0;
  background-color: #d3d3d3;
}
h2 {
  margin: 0 0 -8px 0;
}
h3 {
  margin: 8px 0 -8px 0;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 15px;
  }
  body {
    margin: 2.5% 5% 5% 5%;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.8;
    color: var(--font-color);
    background-color: var(--b-color);
  }
  #menu {
    float: left;
    width: 20%;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    user-select: none;
    position: fixed;
    top: 54px;
  }
  #menu2 {
    float: left;
    width: 20%;
    font-size: 90%;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.01rem;
    user-select: none;
    position: fixed;
    bottom: 39px;
  }
  #main {
    float: right;
    width: 70%;
    margin-bottom: 5%;
  }
  .image1 {
    width: 100%;
  }
  .image2 {
    width: 512px;
  }
  .image3 {
    width: 48%;
  }
  figcaption {
    margin-top: -4px;
    font-size: 14px;
  }
  #breadcrumbs {
    font-weight: 300;
  }
  #menu_forPhone {
    display: none;
  }
  #article_title2 {
    line-height: 1.0;
    letter-spacing: 0.01rem;
  }
}
@media (max-width: 768px) {
  html {
    scroll-padding-top: 65px;
  }
  body {
    margin: 0% 5% 5% 5%;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    font-size: 15px;
    letter-spacing: 0.03rem;
    line-height: 1.8;
    color: var(--font-color);
    background-color: var(--b-color);
  }
  h2 {
    line-height: 1.4;
  }
  h2.beforeImage {
    margin: 0 0 0.5px 0;
  }
  h3.beforeImage {
    margin: 8px 0 -2px 0;
  }
  .image1 {
    width: 100%;
  }
  .image2 {
    width: 100%;
  }
  .image3 {
    width: 100%;
  }
  figure {
    margin: 0;
  }
  figcaption {
    margin-top: -4px;
    font-size: 12px;
  }
  #menu, #menu2 {
    display: none;
  }
  #main {
    margin: 10% 0 0 0;
  }
  #menu_forPhone {
    user-select: none;
    padding: 20px;
    letter-spacing: 0.01rem;
    -webkit-tap-highlight-color: transparent;
  }
  #forPhone_ju {
    position: fixed;
    top: 10px;
    left: 5%;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
  }
  #menu_list {
    list-style: none;
    position: fixed;
    top: 25px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    /*transform: scale(1, 0);*/
    transform-origin: top;
    transition: all .1s ease-out;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;
  }
  #pagetop {
    font-size: 70%;
  }
  #breadcrumbs {
    font-size: 70%;
    line-height: 2.4;
  }
  #menu_board,
  #menu_board2 {
    position: fixed;
    top: -5px;
    left: -5%;
    width: 110%;
    height: 55px;
    background-color: #fff;
    border: solid #000 1.5px;
    transform-origin: center;
    transition: all .3s ease;
  }
  .label-b {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
  }
  .btn {
    position: fixed;
    top: 18px;
    right: 5%;
    width: 25px;
    height: 14px;
    z-index: 1;
  }
  .btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
    background-color: #000;
  }
  .btn span:nth-of-type(1) {
    top: 0;
  }
  .btn span:nth-of-type(2) {
    bottom: 0;
  }

  .i-btn:checked ~ #btn span {
    background-color: #4169e1;
  }
  .i-btn:checked ~ #btn span:nth-of-type(1) {
    transform: translate(0, 6px) rotate(-35deg);
  }
  .i-btn:checked ~ #btn span:nth-of-type(2) {
    transform: translate(0, -6px) rotate(35deg);
  }
  .i-btn:checked ~ #menu_board {
    border: solid #4169e1 1.5px;
    height: 110px;
  }
  .i-btn:checked ~ #menu_list {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in .1s;
    /*transform: scale(1, 1);*/
  }
  .i-btn {
    display: none;
  }
  #article_title2 {
    line-height: 1.0;
    font-size: 24px;
    letter-spacing: 0.01rem;
  }
}
